*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "True Crimes";
  src: url(font/true-crimes.ttf) format("truetype");
}

body {
  min-height: 100vh;
  background: url(./images/treasure-bg.jpg);
  font-family: "True Crimes", Arial, Helvetica, sans-serif;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-header__heading {
  font-family: "True Crimes", sans-serif;
  font-size: 60px;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
}

@keyframes wobble {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.media {
  --columns: 3;
  --rows: 8;
  --width: (100vw - 20px);
  --height: calc(var(--rows) / var(--columns) * var(--width));
  --gutter: 5px;
  width: var(--width);
  height: var(--height);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-auto-flow: dense;
  grid-gap: var(--gutter);
  padding: var(--gutter);
}

.media__item {
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.media__item--no-shadow {
  box-shadow: none;
}

.media__item--2x1 {
  grid-column: span 2;
}

.media__item--3x1 {
  grid-column: span 3;
}

.media__item--1x2 {
  grid-row: span 2;
}

.media__item--greeting {
  grid-column: 1 / 3;
  grid-row: 1;
}

.media__item--below {
  z-index: -1;
}

.media__item--text {
  align-self: center;
  justify-self: center;
  color: #fff;
  font-size: calc(2.9rem + 3vw);
}

@media (min-width: 600px) {
  .media {
    --columns: 4;
    --rows: 6;
  }
}

@media (min-width: 768px) {
  .media {
    --columns: 5;
    --rows: 5;
  }
}

@media (min-width: 1000px) {
  .media {
    --columns: 6;
    --rows: 4;
  }
}

@media (min-width: 1400px) {
  .media {
    --width: 1400px;
  }
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 25vw);
  color: #16b8f3;
  text-shadow: 0 0 10px #2138ab;
}

@media (min-width: 740px) {
  .letter {
    font-size: 200px;
  }
}

.scooter-bg {
  background: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

.sulphur-bg {
  background: linear-gradient(to bottom, #cac531, #f3f9a7);
}

.wiretap-bg {
  background: linear-gradient(to bottom, #8a2387, #e94057, #f27121);
}

.summer-dog-bg {
  background: linear-gradient(to bottom, #a8ff78, #78ffd6);
}

.treasure-bg {
  background: url("./images/treasure-bg.jpg");
}

.flags-bg {
  background: url("./images/flags-bg.png");
}

.electronics-bg {
  background: url("./images/electronics-bg.png");
}

.wobble-letter {
  animation: wobble 3s infinite ease-in;
}

.slide-in-left {
  animation: slide-in-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  animation: slide-in-right 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flicker-in-1 {
  animation: flicker-in-1 2s linear both;
}
